* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(241, 251, 252); */
}

li,
a {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 100%;
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  height: 5rem;
}
.list {
  list-style: none;
}
.list li {
  display: inline-block;
  padding: 20px;
}
.list li a {
  transition: all 0.3 ease 0s;
}
.list li a:hover {
  color: rgb(66, 121, 126);
}
#b1 {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 95%;
  color: rgb(220, 212, 212);
  text-decoration: none;
}
#b1 {
  padding: 9px 25px;
  background-color: rgb(47, 41, 62);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}
#b1:hover {
  background-color: rgb(66, 121, 126);
}
#one {
  font-size: 170%;
  display: inline-block;
  padding-left: 16%;
  padding-top: 3%;
  color: rgb(123, 124, 125);
}
#two {
  font-size: 170%;
  display: inline-block;
  padding-left: 47%;
  padding-top: 3%;
  color: rgb(123, 124, 125);
}
#three {
  font-size: 2000%;
  padding-left: 21%;
  margin-top: -60px;
}
#ai {
  background: url(ai.png) right no-repeat;

  background-size: contain;
  position: absolute;

  width: 55%;
  height: 85%;

  margin-left: 10%;
  margin-top: -15%;
}
.toggle-label {
  width: 4rem;
  height: 2rem;
  background-color: rgb(47, 41, 62);
  display: inline-block;
  position: relative;
  border-radius: 10rem;
}
#checkbox {
  visibility: hidden;
}
.toggle-ball {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: aliceblue;
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  transition: all 0.2s linear;
}
#checkbox :checked + .toggle-label .toggle-ball {
  transform: translateX(2rem);
  background-color: rgb(143, 194, 238);
}
